/* As seen in https://www.w3schools.com/howto/howto_css_image_avatar.asp */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}

.avatar-container {
    width: 50px;
    height: 50px;
}
.avatar-container:hover .avatar {
    width: 250px;
    height: 250px;
    transform: translate(20px, 20px);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}