/* Font sizing and line height picked according to https://www.impactplus.com/blog/best-font-size-for-website */

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

    body,
    p {
        line-height: 1.25rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 1.25rem;
    }

    h2 {
        font-size: 1.625rem;
        line-height: 1.51384615rem;
    }

    h3 {
        font-size: 1.375rem;
        line-height: 1.13636364rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.11111111rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body,
    p {
        line-height: 1.375rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.125rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.25rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.22222222rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body,
    p {
        line-height: 1.375rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.05rem;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 1.25rem;
    }

    h3 {
        font-size: 1.75rem;
        line-height: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.22222222rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    body,
    p {
        line-height: 1.375rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.05rem;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 1.25rem;
    }

    h3 {
        font-size: 1.75rem;
        line-height: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.22222222rem;
    }
}

body {
    margin: 0;
    font-family: Helvetica;

    /* Disables webkit automatic font resize. First answer in: https://stackoverflow.com/questions/20924039/wrong-font-size-when-using-float-right-in-css-on-mobile-safari */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.content {
    margin-left: 12px;
    margin-right: 12px;
    background-color: #eee;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    word-wrap: break-word;
}

header {
    height: 80px;
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fadadd;
    padding-right: 12px;
    padding-left: 12px;
}

nav {
    padding-right: 12px;
    padding-left: 12px;
}

section {
    padding-right: 12px;
    padding-left: 12px;
}

.inline {
    display: inline;
}

.header-title {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    height: 80px;
    border-top: 1px solid #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-right: 12px;
    padding-left: 12px;
}

footer p {
    text-align: right;
}