/* Smooth scroll as seen in https://www.w3schools.com/howto/howto_css_smooth_scroll.asp */
html {
    scroll-behavior: smooth;
}

#goToTopButton {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 50px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 1px solid black;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: white;
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 0px;
    /* Rounded corners */
    font-size: 1rem;
    /* Increase font size */
}

#goToTopButton:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}